*{
  /* box-sizing: border-box; */
}
body {
  /* scroll-behavior: auto; */
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 1);
  color: azure;
  overflow: auto;
}
nav {
  background-color: black;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  background-clip: content-box;
}
.logo {
  flex-basis: 20%;
  align-items: left;
  padding: 2px;
}
.logo image {
  
  
  display: flex;
  align-items: left;
}
.navlinks {padding-right: 0px;
  border: black;
  align-items: right;
  flex: 1;
  /* text-decoration: none; */
}
ul {
  color: white;
  border: black;
  padding: 0;
  /* align-items: left; */
  list-style-type: none;
}
li {
  /* float: right; */
  padding: 5px 20px;
  display: inline;
}
a {
  color: aliceblue;
}

.container {
  border: rgba(0, 0, 0, 0.8);
}
.container1 {
  top: 500px;
  background-color: #111;
  /* opacity: 0.5; */
  border: black;
  color: white;
  max-width: 100vw;
  height: 75px;
  padding: 75px 500px;
  padding-right: 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
   */
}
.container2 {
  opacity: 100;
  /* background-color: rgba(247, 21, 21, 0.959); */
  border: white;
  color: white;
  width: 100%;
  height: 250px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.head {
  height: 45px;
  color: white;
  background-color: black;
  padding: 5px;
  padding-left: 20px;
  align-items: center;
  margin: 30px 30px;
  border: 4px solid black;
  border-left: 4px inset red;
}
.content {
  height: 100px;
  color: white;
  background-color: black;

  margin: 50px 50px;
  border: 4px solid black;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content1 {
  height: 100px;
  color: white;
  background-color: black;

  margin: 50px 50px;
  border: 4px solid black;
}
.fa {
  padding: 10px;
  text-align: center;
  margin: 2px 2px;
  font-size: 100px;

  width: 50px;
  color: aliceblue;
}
footer{
  font-weight: bold;
}