@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
    font-family: sans-serif;
  background-color: black;

}
.container {margin: 10px auto;
  border: 20px inset black;
  padding: 20px auto;
  box-sizing: content-box;
}

.card{margin: 10px auto;
    border: 20px inset black;

}

button {
  border: 2px inset black;
  border-radius: 50%;
  padding: 20px;
}
